PORT=
ENVIRONMENT=
DEBUG=

# Database Write Primary
DB_WRITE_HOST=
DB_WRITE_PORT=
DB_WRITE_USER=
DB_WRITE_PASSWORD=
DB_WRITE_DB_NAME=
DB_WRITE_SSL_MODE=

# Database Read Replica 
DB_READ_HOST=
DB_READ_PORT=
DB_READ_USER=
DB_READ_PASSWORD=
DB_READ_DB_NAME=
DB_READ_SSL_MODE=

# Redis
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=

# JWT
JWT_SECRET=
JWT_EXPIRE_HOURS=
